[user]
	name = Vittv
  email = 166668150+Vittv@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519
[core]
  editor = nvim
  pager = delta
[init]
  defaultBranch = main
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections

  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[gpg]
  format = ssh
[commit]
  gpgsign = true
