@import url("../colors/schemes/vague/colors.css");

* {
  outline: none;
  font-family: "SF Pro Display";
  font-size: 16px;
  text-shadow: none;
  color: @text;
}

.control-center {
  /* background-color: alpha(@base, 0.95); */
  /* background-color: shade(@base, 1.2); */
  background-color: @base;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  padding: 5px;
}

.control-center .control-center-list {
  background-color: transparent;
}

.control-center .notification-row .notification-background {
  border-radius: 4px;
}

.control-center .notification-row .notification {
  margin: 0px ;
  padding: 10px;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @mantle;
}

.notification {
  /* background-color: shade(@base, 1.2); */
  /* background-color: alpha(@base, 0.9); */
  background-color: @base;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: @mantle;
}

.notification > *:last-child > *  {
  margin: 5px;
}

.summary { font-size: 1.1rem; }
.time { font-size: 0.8rem; }
.body { font-size: 1rem; }

.notification-content {
  padding: 15px 15px;
}

.notification-action > button {
  padding: unset;
  margin: unset;
}
.notification-action > label {
  font-size: 1rem;
  font-weight: normal;
}

.notification.critical {
  background-color: alpha(#e64553, 0.9);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}
.notification.low,
.notification.normal  {
  /* background-color: shade(@base, 1.2); */
  /* background-color: alpha(@base, 0.9); */
  background-color: @base;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.close-button {
  background-color: alpha(@surface0, 0.9);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}
.close-button:hover {
  background-color: alpha(@red, 0.9);
}

.notification-group-header,
.notification-group-icon {
  font-size: 0.9rem;
}

.notification-group-collapsetransparent,
.notification-group-close-all-button {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
  background-color: @surface0;
}

.notification-group-collapse-button:hover {
  background-color: alpha(@blue, 0.9);
}
.notification-group-close-all-button:hover {
  background-color: alpha(@red, 0.9);
}

.notification-group:focus {
  background-color: transparent;
  border-radius: 10px;
}

.control-center .notification-content {
  padding: 8px 0px;
}

trough highlight {
  background: @blue;
}
scale trough {
  margin: 0rem 1rem;
  background-color: @surface0;
  min-height: 8px;
  min-width: 70px;
}
slider {
  background-color: @text;
}
tooltip {
  background-color: @surface0;
}

/*** Widgets ***/
/* Buttons widget */
.widget-buttons-grid {
  font-size: 1rem;
  padding: 10px 10px;
  padding-top: 15px;
  margin: unset;
}

.widget-buttons-grid > flowbox {
  justify-content: center;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @surface0;
  box-shadow: 0px 0px 10px @base;
  border-radius: 12px;
  min-width: 38px;
  min-height: 20px;
  /* padding: 6px; */
  transition: all .3s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @surface2;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background-color: @flamingo;  
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle label {
  font-size: 1.1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @base;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
  background: alpha(@flamingo, 0.9);
}

.widget-buttons-grid > flowbox > flowboxchild > button > label.toggle:checked {
  color: @base;
}

/* Volume widget */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1.3rem;
}
.widget-volume > box > button {
    border: none;
}

.widget-volume > box > button label {
  font-size: 1.4rem;
}

.widget-volume > box > button:checked label {
  color: @base;
  font-size: 1.4rem;
}

.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
}

scale slider {
  background-color: @base;
  box-shadow: none;
  border: 2px solid @flamingo;
}

scale slider:hover {
  background-color: @base;
  border-color: @flamingo;
}

scale trough {
  background-color: @surface2;
}

trough highlight {
  background-color: @flamingo;
}

/* Title widget */
.widget-title {
  padding: unset;
  margin: unset;
  font-weight: 500;
  padding: 5px 15px;
}
.widget-title > label {
  font-size: 1.2rem;
}
.widget-title > button {
  padding:unset;
  margin:unset;
  text-shadow: none;
  background: #e64553;
  border: none;
  box-shadow: none;
  border-radius: 100px;
  padding:0px 6px;
  transition: all .7s ease;
}
.widget-title > button:hover {
  background: alpha(@red, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

scrollbar,
scrollbar trough,
scrollbar slider {
  all: unset;
  min-width: 0px;
  min-height: 0px;
  border: none;
  background: transparent;
}
