@import "~/.config/colors/schemes/vague/colors.rasi"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "";
    display-run: "";
    display-window: "";
    drun-display-format: "{name}";
    font: "SF Pro Display 14";
    // font: "JetBrainsMono Nerd Font Propo SemiBold 12";
    terminal: "kitty";
}

* {
    /* Use system colors */
    background-color: transparent;
    text-color: @fg;
    handle-color: @accent;
}

window {
    transparency: "real";
    background-color: @bg;
    border: 0px;
    border-color: @accent;
    border-radius: 4px;
    width: 340px;
    padding: 12px;

    animation: "expand-vertical";
    animation-duration: 300;
}

mainbox {
    background-color: transparent;
    spacing: 12px;
    border: 0;
}

inputbar {
    background-color: @bg-alt;
    border-radius: 6px;
    padding: 12px;
    spacing: 8px;
    children: [prompt, entry];
}

prompt {
    text-color: @accent;
    background-color: transparent;
}

entry {
    placeholder: "   Search";
    placeholder-color: @fg-dim;
    background-color: transparent;
    text-color: @accent;
}

listview {
    background-color: transparent;
    lines: 8;
    spacing: 4px;
    cycle: false;
    scrollbar: false;
    border: 0;

    // This will make things open with a certain animation
    // With disabled animations, it should probably be commented out
    dynamic: true;
    fixed-height: false;
}

element {
    background-color: transparent;
    padding: 10px;
    border-radius: 6px;
    spacing: 12px;
}

element normal.normal {
    background-color: transparent;
    text-color: @fg;
}

element alternate.normal {
    background-color: transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @bg-selected;
    border-radius: 6px;
    text-color: @accent;
    // background-color: transparent;
    // text-color: @accent;
}

element-icon {
    size: 16px;
    background-color: transparent;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
}

scrollbar {
    border-radius: 10px;
    border-color: @bg-selected;
    background-color: @bg-alt;
    handle-width: 6px;
    handle-rounded-corners: true;
    handle-color: @accent;
}
