* {
  /* Background colors */
  /* E6 = 90% opacity */
  /* F2 = 95% opacity */
  bg: #141415F2;
  bg-alt: #1c1c24;
  bg-selected: #252530;
    
  /* Foreground colors */
  fg: #cdcdcd;
  fg-dim: #606079;
    
  /* Accent color */
  accent: #efefdc;
}
