* {
  /* Background colors */
  /* E6 = 90% opacity */
  /* F2 = 95% opacity */
  /* FF = 100% opacity */
  bg: #171719FF;
  bg-alt: #252530;
  bg-selected: #2c2c3e;
    
  /* Foreground colors */
  fg: #cdcdcd;
  fg-dim: #606079;
    
  /* Accent color */
  accent: #7e98e8;
}
