@import "../colors/schemes/vague/colors.css";

* {
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: 500;
}

window#waybar {
  /* background-color: alpha(@base, 0.95); */
  /* background-color: @base */
  border-radius: 10px;
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@base, 0.90);
  border: 2px solid @surface0;
  border-radius: 10px;
  padding: 0 14px;
}

#workspaces button label {
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 700;
  font-size: 14px;
  padding: 0 0px;
  color: @overlay2;
  /* margin: 8px 2px; */
}

#workspaces button {
  padding: 0 0px;
  margin: 3px 0px;
  border-radius: 10px;
  background-color: transparent;
}

#workspaces button.active label {
  color: @rosewater;
  /* padding: 0 20px */
}

#window {
  color: @lavender;
}

#custom-menu,
#custom-microphone,
#custom-mudfish,
#custom-spotify,
#custom-cpu-temp,
#custom-gpu-temp,
#custom-system-temp,
#bluetooth,
#network,
#pulseaudio,
#clock,
#custom-power,
#tray {
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding-top: 0;
  padding-bottom: 0;
  color: @rosewater;
  margin: 4px 2px;
  font-size: 12px;
}

#custom-microphone:hover,
#custom-mudfish:hover,
#custom-cpu-temp:hover,
#custom-gpu-temp:hover,
#custom-system-temp:hover,
#custom-menu:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover {
  color: @rosewater;
}

#custom-spotify {
  font-family: "SF Compact Display", "JetBrainsMono Nerd Font Propo";
  font-size: 12px;
  font-weight: 700;
  color: @sky;
  transition: all 0.3s ease;
}

#custom-spotify:hover {
  color: @sapphire;
}

#bluetooth {
  color: @pink;
  font-size: 14px;
}

#custom-power {
    color: @rosewater;
    font-weight: 700;
}

#pulseaudio {
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  color: @yellow;
}

#custom-microphone {
  color: @rosewater;
  transition: all 0.2s ease;
  font-size: 12px;
}

#custom-microphone:hover {
  color: @pink;
}

#network {
  color: @green;
}

#custom-menu {
    color: @red;
}

#custom-system-temp {
  font-size: 20px;
  color: @red;
}

tooltip {
  background-color: @base;
  border: 2px solid @surface0;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.3s ease;
}

tooltip label {
  font-family: "SF Display Mono";
  color: @text;
  padding: 8px;
  font-size: 16px;
}

#tray label {
  font-family: "SF Pro Display";
  font-size: 16px;
}

#clock {
  font-family: "SF Pro Rounded";
  color: @rosewater;
  font-weight: 500;
  font-size: 14px;
}

#clock:hover {
  color: @pink;
}

#custom-mudfish {
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  font-weight: 700;
}

#custom-mudfish.on {
  color: @sapphire;
}

#custom-mudfish.off {
  color: @blue;
}

#custom-mudfish.on:hover {
  color: @rosewater;
}

#custom-mudfish.off:hover {
  color: @rosewater;
}

#custom-cpu-temp {
  font-family: "FiraCode Nerd Font Propo";
  color: @mauve;
  font-weight: 700;
}

#custom-gpu-temp {
  font-family: "FiraCode Nerd Font Propo";
  color: @pink;
  font-weight: 700;
}

#custom-power:hover {
  color: @pink;
}

#custom-separator {
  color: @overlay1;
  font-weight: 700;
}

#custom-tmux,
#custom-devserver {
  font-family: "SF Compact Display";
  font-weight: 700;
  font-size: 12px;
  transition: color 0.3s ease;
}

#custom-tmux {
  color: @rosewater;
}

#custom-devserver {
  color: @blue;
}

#custom-tmux:hover {
  color: @flamingo;
}

#custom-devserver:hover {
  color: @lavender;
}
