@import "mocha.css";

* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: shade(@base, 0.9);
}

#workspaces { 
    margin-left: 12px;
}

#workspaces button {
    padding: 0 4px;
    color: @subtext0;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @yellow;
}

#window {
    color: @lavender;
}

#custom-cpu-temp,
#custom-gpu-temp,
#network,
#pulseaudio,
#custom-power,
#tray {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  color: @text;
  padding: 2px 4px;
  margin: 8px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

#custom-clock {
    font-family: "Inter";
    font-weight: 500;
    padding: 2px 4px;
    background-color: inherit;
    color: @text;
    margin: 8px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#custom-clock:hover {
    background-color: @surface0;
}

#custom-power {
    margin-right: 16px;
}

#custom-cpu-temp:hover {
    color: @blue;
}

#custom-gpu-temp:hover {
    color: @pink;
}

#network:hover {
    color: @green;
}

#pulseaudio:hover {
    color: @yellow;
}

#custom-power:hover {
    color: @red;
}
